:root {
    --white: #FFFFFF;
    --primary-color: #303030;
    --accent-color: #FF6C00;
    --clarification: rgba(157, 164, 189, 0.6);
    --hero-text-color: #9DA4BD;
    --primary-text-color: #555555;
        


}
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: var(--primary-color);
}
.section {
    padding: 120px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid red;
    
}
.link {
    text-decoration: none;
    font-style: inherit;
    font-family: inherit;

}

.list {
    list-style: none;
}
h1, h2, h3, h4, h5, h5, h6, p {
    margin: 0;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* background-color: #111319; */
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
} 
.navigation-list {
    display: flex;

}
.navigation-item:not(:last-child) {
margin-right: 30px;
}


.header-contacts {
    margin-right: 43px;
}
.navigation-link, .header-contacts {
        font-weight: 600;
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.1em;
        color: var(--white);
}
.link:hover,
.link:focus,
.header-contacts:hover,
.header-contacts:focus
 {
    color: var(--accent-color) ;
}
.btn:focus,
.btn:hover{
    background-color: var(--accent-color) ;
}
.btn {
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: var(--white) ;
    padding: 12px 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}
.primary-btn {
    color: var(--white);
    background-color: transparent;
    }
.secondary-btn {
    color: var(--primary-color);
}

/* Hero  */
.hero {
    
}
.hero-container {
    display: flex;
}
.hero-rightside {
    background-image: url(../pictures/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    padding-right: 526px;
}
.hero-leftside {
    width: 100px;
    display: flex;
    align-items: flex-end;

    padding-right: 58px;
}
.hero-link-list {
    

    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    gap: 40px;

    /* padding-bottom: 58px;
    margin-left: 40px; */
}
.hero-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/12);
    letter-spacing: 0.2em;
    color: var(--primary-color);
}



.clarification {
    margin-bottom: 20px;

        font-weight: 600;
        font-size: 11px;
        line-height: calc(15/11) ;
        text-transform: uppercase;
        color: var(--clarification);
}

.hero-title {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-size: 72px;
    line-height: calc(85/72);
    letter-spacing: 0.05em;
     color: var(--white);
}
.hero .text {
        font-size: 18px;
        line-height: calc(30/18);
        letter-spacing: 0.02em;
        color: var(--hero-text-color);
}
.hero .back  {
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    color: var(--clarification);
}
.hero .forward {
        font-size: 11px;
        line-height: calc(15/11);
        text-align: right;
        letter-spacing: 0.1em;
        color: var(--white);
}
.title {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--primary-color);
}

.title-second {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--white);

}

.text {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
/* About */
.about .list {
    display: flex;
    /* margin: 120px 30px; */
} 
.about .item {
    margin-right: 30px;
}

.container-about {
    display: flex;
}
.clarification.primary {
    color: var(--primary-color);
}
.about .clarification {
display: flex;
align-items: center;

}
.about .clarification::before{
    display: inline-block;
    content: "";
    width: 60px;
    height: 1px;
    background: #303030;

    margin-right: 20px;

}
.about .text {
    margin-bottom: 20px;
}
.about-text {
    width: 470px;
}
.text-second {
    margin-bottom: 42px;
    
        font-size: 14px;
        line-height:calc(26/14);
        letter-spacing: 0.02em;    
        color: var(--primary-text-color);
}

/* Prices */
.prices {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    background-color:#111319;
    background-image: url(../pictures/price-bg.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.list-prices {
    display: flex;
}
.prices .list.left {
    width: 570px;
    /* outline: 2px solid black; */
    margin-right: 30px;
    margin-bottom: 44px;    
}
.left-item,
.right-item {
font-size: 18px;
line-height: calc(30 / 18);
letter-spacing: 0.02em;
color: #9DA4BD;
}
.list-left {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);

} 
.prices .list.right {
    width: 570px;
    margin-bottom: 44px;
   /* outline: 2px solid black; */
}
.list-right {
    display: flex;
        justify-content: space-between;
}

.prices-btn {
    text-align: center;
  
}

/* Features  */

.features .container{
    display: flex;
    justify-content: space-between;
}
.list-item {
    
    max-width: 170px;
    padding: 20px 24px;
    
    background: #F7F7F7;

}
.features-text {

}
.features .item {    
        font-weight: 700;
        font-size: 42px;
        line-height:calc(57/42);
        letter-spacing: 0.05em;    
        }
.features .description {
        font-weight: 600;
        font-size: 11px;
        line-height: calc(15/11);
        }

        /* barbers  */
.team {
    background-color: #F7F7F7;
}
.team .list {
    display: flex;
    justify-content: center;
}
.team-item:not( :last-child) {
    margin-right: 30px;
}
.team-item {
    text-align: center;
}

.team-barbers {
    margin: 30px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(25/18);
        letter-spacing: 0.02em;
   
}
.team .text {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(19/14);
        letter-spacing: 0.02em;
        color:var(--accent-color);
}

/* Gallery  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.gallery .clarification {
    margin-bottom: 44px;
}
.gallery .list {
    display: flex;
}
.gallery .item:not( :last-child) {
margin-right: 30px;
}

/* contacts */
.booking-contacts {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    width: 1600px;
}
.booking-contacts{
    background-color: #191C26;
    
}

.contacts,
.booking {
    width: 50%;
    
}
.booking .title {
    color: #F7F7F7;
}
.contacts {
    background-image: url(../pictures/contacts-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts .container {
    display: flex;
}
.contacts .title-second {
    margin-bottom: 40px;
}

.contacts .address .contacts-text {
    margin-bottom: 20px;

    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;   
    color:var(--hero-text-color);
}
.address {
    margin-bottom: 70px;
}
.contacts-list .item:not( :last-child) {
    margin-bottom: 20px;
}
.address .link,
.contacts .text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(30/18);
        letter-spacing: 0.02em;
        color: var(--hero-text-color);
}

.title-work {
    margin-bottom: 20px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--white);
}

/* Footer */
.footer {
    background-color: #F7F7F7;
    padding: 56px;
}
.footer .container,
.footer .list {
    display: flex;
    }
.footer .item:not( :last-child) {
    margin-right: 40px;
}
     
.footer .text {
    margin-right: auto;
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        /* identical to box height */
    
        letter-spacing: 0.2em;
    
        color: #9DA4BD;
}







.header-contacts {}



.hero {}



.prices {}

.features {}

.team {}

.gallery {}

.contacts {}

.footer {}



